.Card {
    width: 128px;
    height: 156px;
    border: 1px solid #777;
    border-radius: 5px;
    padding:20px 0px;
    float:left;
    background: #fff;
    position: absolute;
}

.Card.phanthom {
    opacity: .3;
}

.CardBack {
    background: #3A11D4;
    border: 2px solid #210B78;
    border-radius: 5px;
    width: 88px;
    height: 156px;
    margin: 0px 20px;
}

.CardBack img {
    width: 88px;
    margin: 15px 0px;
}

.SuitIcon img {
    width: 80px;
    margin-top: 20px;
}

.CardRank {
    font-size: 40px;
    font-weight: bold;
}

.CardFront .CardFrontLabel {
    display: flex;
    margin-left: 10px;
    margin-top: -10px;
}

.CardFront .CardFrontLabel .SuitIcon img{
    width: 25px;
    margin-top: 0px;
}
.CardFront .CardFrontLabel .CardRank{
    font-size: 18px;
    margin-top: 5px;
    margin-left: 10px;
}